In [1]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import pandas as pd

In [3]:
df=pd.read_csv('Dataset_spine.csv')
df

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,Col12,Class_att,Unnamed: 13
0,63.027817,22.552586,39.609117,40.475232,98.672917,-0.254400,0.744503,12.5661,14.5386,15.30468,-28.658501,43.5123,Abnormal,NaN
1,39.056951,10.060991,25.015378,28.995960,114.405425,4.564259,0.415186,12.8874,17.5323,16.78486,-25.530607,16.1102,Abnormal,NaN
2,68.832021,22.218482,50.092194,46.613539,105.985135,-3.530317,0.474889,26.8343,17.4861,16.65897,-29.031888,19.2221,Abnormal,Prediction is done by using binary classificat...
3,69.297008,24.652878,44.311238,44.644130,101.868495,11.211523,0.369345,23.5603,12.7074,11.42447,-30.470246,18.8329,Abnormal,NaN
4,49.712859,9.652075,28.317406,40.060784,108.168725,7.918501,0.543360,35.4940,15.9546,8.87237,-16.378376,24.9171,Abnormal,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,47.903565,13.616688,36.000000,34.286877,117.449062,-4.245395,0.129744,7.8433,14.7484,8.51707,-15.728927,11.5472,Normal,NaN
306,53.936748,20.721496,29.220534,33.215251,114.365845,-0.421010,0.047913,19.1986,18.1972,7.08745,6.013843,43.8693,Normal,NaN
307,61.446597,22.694968,46.170347,38.751628,125.670725,-2.707880,0.081070,16.2059,13.5565,8.89572,3.564463,18.4151,Normal,NaN
308,45.252792,8.693157,41.583126,36.559635,118.545842,0.214750,0.159251,14.7334,16.0928,9.75922,5.767308,33.7192,Normal,NaN
309,33.841641,5.073991,36.641233,28.767649,123.945244,-0.199249,0.674504,19.3825,17.6963,13.72929,1.783007,40.6049,Normal,NaN

In [5]:
df=df.drop(['Unnamed: 13'],axis=1)
df.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,Col12,Class_att
0,63.027817,22.552586,39.609117,40.475232,98.672917,-0.254400,0.744503,12.5661,14.5386,15.30468,-28.658501,43.5123,Abnormal
1,39.056951,10.060991,25.015378,28.995960,114.405425,4.564259,0.415186,12.8874,17.5323,16.78486,-25.530607,16.1102,Abnormal
2,68.832021,22.218482,50.092194,46.613539,105.985135,-3.530317,0.474889,26.8343,17.4861,16.65897,-29.031888,19.2221,Abnormal
3,69.297008,24.652878,44.311238,44.644130,101.868495,11.211523,0.369345,23.5603,12.7074,11.42447,-30.470246,18.8329,Abnormal
4,49.712859,9.652075,28.317406,40.060784,108.168725,7.918501,0.543360,35.4940,15.9546,8.87237,-16.378376,24.9171,Abnormal

In [6]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Col1,310.0,60.496653,17.236520,26.147921,46.430294,58.691038,72.877696,129.834041
Col2,310.0,17.542822,10.008330,-6.554948,10.667069,16.357689,22.120395,49.431864
Col3,310.0,51.930930,18.554064,14.000000,37.000000,49.562398,63.000000,125.742385
Col4,310.0,42.953831,13.423102,13.366931,33.347122,42.404912,52.695888,121.429566
Col5,310.0,117.920655,13.317377,70.082575,110.709196,118.268178,125.467674,163.071041
Col6,310.0,26.296694,37.559027,-11.058179,1.603727,11.767934,41.287352,418.543082
Col7,310.0,0.472979,0.285787,0.003220,0.224367,0.475989,0.704846,0.998827
Col8,310.0,21.321526,8.639423,7.027000,13.054400,21.907150,28.954075,36.743900
Col9,310.0,13.064511,3.399713,7.037800,10.417800,12.938450,15.889525,19.324000
Col10,310.0,11.933317,2.893265,7.030600,9.541140,11.953835,14.371810,16.821080
Col11,310.0,-14.053139,12.225582,-35.287375,-24.289522,-14.622856,-3.497094,6.972071
Col12,310.0,25.645981,10.450558,7.007900,17.189075,24.931950,33.979600,44.341200

In [7]:
df=df.drop(['Col7','Col8','Col9','Col10','Col11','Col12'],axis=1)
df.head()

        Col1       Col2       Col3       Col4        Col5       Col6 Class_att
0  63.027817  22.552586  39.609117  40.475232   98.672917  -0.254400  Abnormal
1  39.056951  10.060991  25.015378  28.995960  114.405425   4.564259  Abnormal
2  68.832021  22.218482  50.092194  46.613539  105.985135  -3.530317  Abnormal
3  69.297008  24.652878  44.311238  44.644130  101.868495  11.211523  Abnormal
4  49.712859   9.652075  28.317406  40.060784  108.168725   7.918501  Abnormal

In [8]:
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [9]:
y=df['Class_att']
x=df.drop(['Class_att'],axis=1)

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=27)
x_train

          Col1       Col2       Col3       Col4        Col5       Col6
308  45.252792   8.693157  41.583126  36.559635  118.545842   0.214750
274  43.191915   9.976664  28.938149  33.215251  123.467400   1.741018
122  80.074914  48.069531  52.403439  32.005383  110.709912  67.727316
269  37.140150  16.481240  24.000000  20.658910  125.014361   7.366425
208  87.679087  20.365613  93.822416  67.313473  120.944829  76.730629
..         ...        ...        ...        ...         ...        ...
293  48.902904   5.587589  55.500000  43.315316  137.108289  19.854759
240  41.646916   8.835549  36.031975  32.811367  116.555168  -6.054538
31   46.390260  11.079047  32.136553  35.311213   98.774546   6.386832
184  81.056611  20.801492  91.784495  60.255119  125.430176  38.181782
19   41.729963  12.254074  30.122586  29.475889  116.585706  -1.244402

[232 rows x 6 columns]

In [11]:
y_train

308      Normal
274      Normal
122    Abnormal
269      Normal
208    Abnormal
         ...
293      Normal
240      Normal
31     Abnormal
184    Abnormal
19     Abnormal
Name: Class_att, Length: 232, dtype: object

In [12]:
clf=MLPClassifier(hidden_layer_sizes=(100,50,80),max_iter=500)
clf

MLPClassifier(hidden_layer_sizes=(100, 50, 80), max_iter=500)

In [13]:
clf.fit(x_train,y_train)
y_pred=clf.predict(x_test)

In [14]:
y_pred

array(['Abnormal', 'Abnormal', 'Abnormal', 'Abnormal', 'Abnormal',
       'Abnormal', 'Normal', 'Normal', 'Abnormal', 'Abnormal', 'Abnormal',
       'Abnormal', 'Abnormal', 'Abnormal', 'Abnormal', 'Normal',
       'Abnormal', 'Abnormal', 'Abnormal', 'Abnormal', 'Abnormal',
       'Abnormal', 'Abnormal', 'Normal', 'Abnormal', 'Normal', 'Abnormal',
       'Abnormal', 'Abnormal', 'Abnormal', 'Normal', 'Abnormal',
       'Abnormal', 'Abnormal', 'Abnormal', 'Abnormal', 'Abnormal',
       'Normal', 'Normal', 'Abnormal', 'Abnormal', 'Abnormal', 'Abnormal',
       'Normal', 'Abnormal', 'Abnormal', 'Abnormal', 'Abnormal', 'Normal',
       'Abnormal', 'Normal', 'Abnormal', 'Abnormal', 'Abnormal', 'Normal',
       'Abnormal', 'Normal', 'Abnormal', 'Abnormal', 'Abnormal',
       'Abnormal', 'Abnormal', 'Normal', 'Abnormal', 'Normal', 'Abnormal',
       'Normal', 'Normal', 'Abnormal', 'Abnormal', 'Abnormal', 'Abnormal',
       'Abnormal', 'Abnormal', 'Normal', 'Abnormal', 'Normal', 'Abnormal'],
      dtype='<U8')

In [15]:
y_pred==y_test

70      True
69      True
21      True
228    False
200     True
       ...
188     True
295     True
268    False
54     False
40      True
Name: Class_att, Length: 78, dtype: bool

In [16]:
import numpy as np
np.mean(y_pred==y_test)

0.7692307692307693